body {
  margin: 0;
  padding: 0;
  background: #F8F8F8;
  font: 14px PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial;
  overflow: auto;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #ED9127;
  text-decoration: none;
}
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.gt {
  float: right;
}
.lf {
  float: left;
}
img {
  cursor: pointer;
  vertical-align: middle;
}
h3 {
  font-size: 16px;
}
.content {
  margin: 0 auto;
  width: 1200px;
  min-height: 600px;
  padding: 0 20px;
  background: #fff;
  padding-bottom: 50px;
}
input:focus {
  outline: none;
}
form.sui-form input[type="text"] {
  font-size: 14px;
}
input::-webkit-input-placeholder {
  color: #BEBEBE!important;
  font-size: 14px;
}
input:-moz-placeholder {
  color: #BEBEBE!important;
  font-size: 14px;
}
input::-moz-placeholder {
  color: #BEBEBE!important;
  font-size: 14px;
}
input:-ms-input-placeholder {
  color: #BEBEBE!important;
  font-size: 14px;
}
.sui-form input[type="text"] {
  box-shadow: none;
  color: #333333;
  font-family: 14px PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial;
}
.datepicker {
  width: 258px;
  height: 258px;
}
.datepicker .table-condensed {
  width: 258px;
  height: 258px;
}
.dropdown-inner span {
  color: #BEBEBE;
  font-size: 14px;
}
#outerdiv {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1100;
  width: 100%;
  height: 100%;
  display: none;
}
#outerdiv #innerdiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  padding: 0 20px;
  background: #fff;
}
header {
  border-bottom: 1px solid #DDDDDD;
  margin-top: 50px;
  margin-bottom: 48px;
  padding: 10px 0;
}
header a {
  font-size: 8px;
}
#menu {
  margin-bottom: 20px;
}
#menu select {
  width: 108px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  color: #BABABA;
  outline: none;
  padding: 0 10px;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section #info {
  position: relative;
}
section #info .caret {
  width: 16px;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: #ED9127;
  position: absolute;
  top: -14px;
  left: 90px;
}
section #info ul {
  width: 130px;
  min-height: 124px;
  background: #ED9127;
  opacity: 0.8;
}
section #info ul li {
  display: flex;
  height: 32px;
  padding: 0 10px;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
section #info ul li:first-child {
  border-bottom: 1px solid #fff;
}
section #allMap {
  height: 600px;
  width: 60%;
}
section #coCanal {
  margin-right: 100px;
  width: 350px;
  min-height: 192px;
  font-size: 12px;
  background: #EAEAEA;
  padding: 10px;
}
section #coCanal ul {
  margin-top: 25px;
}
section #coCanal ul > li {
  float: left;
  height: 20px;
  line-height: 9px;
}
section #coCanal .progress {
  width: 200px;
  height: 6px;
  background: #ED9127;
  margin-left: 13px;
  margin-right: 23px;
}
